<!doctype html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="https://d79i1fxsrar4t.cloudfront.net/sdk/1.1.3/smartystreets-sdk-1.1.3.js"></script>
  <script src="us_autocomplete.js"></script>
</head>
<body>
  <div ng-app="usAutocomplete" ng-controller="usAutocompleteCtrl">
    <h3>SmartyStreets US Autocomplete Lookup</h3>
    <ul>
      <li>
        SmartyStreets website key : <input ng-model="auth.websiteKey" />
      </li>
      <li>
        address : <input ng-model="input.value" />
      </li>
    </ul>
    <button ng-click="SmartyStreetsCall(input, auth)">Get Autocomplete Suggestions</button>
    <div ng-repeat="suggestion in suggestions">
      {{suggestion.text}}
    </div>
  </div>
</body>
</html>